################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Students.WebApp/.vs/Students.WebApp/FileContentIndex
/Students.WebApp/Students.WebApp/obj
/Students.WebApp/.vs
/Students.WebApp/Students.WebApp/bin/Debug/net7.0
